*{
    box-sizing: border-box;
}

body{
    margin:0;
}

#container-1,
#input-1,
#ul-1{
    border:1px solid
}

#container-1{
    height:100vh;
    width:100vw;
    background-color:palevioletred;
}

#input-1{
    height: 10%;
    width: 50%;
    background-color:lemonchiffon;
    display:block;
    margin: auto;
    font-size: 25px;
    font-family: emoji;
    font-weight: bold;
    outline: none;
}

#ul-1{
    height: 65%;
    width: 50%;
    background-color:aquamarine;
    display:block;
    margin: auto;
    margin-top: 3%;
    list-style: none;
    text-align: center;
    padding: 0px;
    overflow: auto;
}

#h1-1{
    text-align: center;
    font-size: 35px;
    font-family: emoji;
}

li{
    font-size: 20px;
    font-family: emoji;
    margin-top: 1.5%;
    padding-left: 0px;
    font-weight: bold;
}